.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.5) translateY(-5px) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__notification {
  position: absolute;
  right: -10px;
  top: -15px;
  animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__btn {
  opacity: 0;
  animation: appearBtnAnimation 1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__btn:last-child {
  animation-delay: 0.6s;
}

@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}

.nav__btn i:hover {
  animation: rainbow 1s ease-in-out infinite;
}
